<%# Needs : menuBarItem = MenuBarItem %>

<li class="menu-bar-directions-li" >
    <% if (menuBarItem.subMenuItems.lenght > 0) { %>
        <a href="#" class="<% if (menuBarItem.active == 0) { %>current<% } %>">
            <%= menuBarItem.name %>
        </a>

        <div class="">
            <% menuBarItem.subMenuItems.forEach( function(subItem) { %>
                <a class="" href="<%= subItem.url %>">
                    <%= subItem.name %>
                </a>
            <% }) %>
        </div>
    <% } else { %>
        <a href="<%= menuBarItem.url %>" class="<% if (menuBarItem.active == 0) { %>current<% } %>">
            <%= menuBarItem.name %>
        </a>
    <% } %>
</li>
