<%# Needs : menuBarItem = MenuBarItem %>

<li class="menu-bar-directions-li" >
    <a href="<%= menuBarItem.url %>" class="<% if (menuBarItem.active == 0) { %>current<% } %>">
        <%= menuBarItem.name %>
    </a>
</li>

<% if (menuBarItem.subMenuItems) { %>
<div 
    <% if (menuBarItem.hasSubSubItems) { %>
        class="menu-bar-sub-sub-items-div"
    <% } else { %>
        class="menu-bar-sub-items-div"
    <% } %>
    >

    <% menuBarItem.subMenuItems.forEach( function(subItem) { %>
        <div class="menu-bar-sub-item-div">
            <a href="<%= subItem.url %>">
                <%= subItem.name %>
            </a>
            <% if (subItem.subSubItems) { %>
                <div>
                    <% subItem.subSubItems.forEach( function(subSubItem) { %>
                        <div >
                            <a class="menu-bar-sub-item-div-sub-item" href="<%= subSubItem.url%>">
                                <%= subSubItem.name%>
                            </a>
                        </div>
                    <% }) %>
                </div>
            <% } %>
        </div>
    <% }) %>
</div>
<% } %>
