<%# Needs: contentSectionBlock = ContentSectionBlock%>

<div class="cl-content-section-block card"
    style="
        <% if (contentSectionBlock.width) { %>
            max-width: <%= contentSectionBlock.width %>%;
        <% } %>
        <% if (contentSectionBlock.height) { %>
            max-height: <%= contentSectionBlock.height %>%;
        <% } %>
    ">
    <% if (contentSectionBlock.img) { %>
        <img src="<%= contentSectionBlock.img%>" style="width: 100%; height: auto;">
    <%}%>
    <% if (contentSectionBlock.title) { %>
    <h3 class="card-header">
        <%= contentSectionBlock.title %>
    </h3>
    <%}%>
    <% if (contentSectionBlock.description) { %>
    <div class="cl-content-section-block-div-description card-body">
        <p class="card-text">
            <%= contentSectionBlock.description %>
        </p>
    </div>
    <%}%>
</div>
