<%# Needs: contentSectionBlockForm = ContentSectionBlockForm %>

<div class="content-section-block">

    <h3 class="">
        <%= contentSectionBlockForm.title %>
    </h3>

    <div class="">
        <p class="">
            <%= contentSectionBlockForm.description %>
        </p>
    </div>

    <form 
        action="<%= contentSectionBlockForm.action %>"
        method="<%= contentSectionBlockForm.method %>"
        class="content-section-block-form">

        <% contentSectionBlockForm.inputs.forEach( function (input) {%>
            <% if (input.type == "textarea") {%>
                <div class="">
                    <label><%= input.label%></label>
                    <textarea name="<%= input.name %>" class="form-control" rows="10"></textarea>
                </div>
            <% } else {%>
                <div class="">
                    <label for="<%= input.name %>"><%= input.label %></label>
                    <input name="<%= input.name %>" type="<%= input.type %>" class="form-control">
                </div>
            <% } %>
        <% }) %>

        <button type="submit" class="btn">
            <%= contentSectionBlockForm.submitName %>
        </button>

    </form>

</div>