<%# Needs: contentSection = ContentSection%>
<div 
style="
        <% if (contentSection.align) { %>
            display: flex;
            align-self: <%= contentSection.align%>;
        <% } %>
        "

    <% if (contentSection.id) { %>
    id="<%= contentSection.id %>"
    <% } %>

    class="content-section">
    
    <% if (contentSection.title) { %>
    <h1 class="content-section-title"><%- contentSection.title %></h1>
    <% } %>
    <div class="content-section-body-div">
        <% contentSection.contentSectionBlocks.forEach( function(contentSectionBlock) { %>
            <% if (contentSectionBlock.type == "block") { %>
                <%- include('contentSectionBlock', {contentSectionBlock : contentSectionBlock}) %>
            <% } else if (contentSectionBlock.type == "blockContact") { %>
                <%- include('contentSectionBlockForm', {contentSectionBlockForm : contentSectionBlock}) %>
            <% } %>
        <% }) %>
    </div>
</div>
