<%# Needs: contentSectionBlockForm = ContentSectionBlockForm %>

<div class="cl-content-section-block-form card">

    <h5 class="card-header">
        <%= contentSectionBlockForm.title %>
    </h5>

    <div class="cl-content-section-block-form-div-description card-body">
        <p class="card-text">
            <%= contentSectionBlockForm.description %>
        </p>
    </div>

    <form 
        action="<%= contentSectionBlockForm.action %>"
        method="<%= contentSectionBlockForm.method %>"
        class="cl-content-section-block-form-form card-body">

        <% contentSectionBlockForm.inputs.forEach( function (input) {%>
            <% if (input.type == "textarea") {%>
                <div class="cl-content-section-block-form-form-div-item form-group">
                    <label><%= input.label%></label>
                    <textarea name="<%= input.name %>" class="form-control" rows="10"></textarea>
                </div>
            <% } else {%>
                <div class="cl-content-section-block-form-form-div-item form-group">
                    <label for="<%= input.name %>"><%= input.label %></label>
                    <input name="<%= input.name %>" type="<%= input.type %>" class="form-control">
                </div>
            <% } %>
        <% }) %>

        <button type="submit" class="btn">
            <%= contentSectionBlockForm.submitName %>
        </button>

    </form>

</div>