<%# Needs: contentSection = ContentSection%>
<div
style="
        <% if (contentSection.align) { %>
            align-self: <%= contentSection.align%>;
        <% } %>

        <% if (contentSection.marginleft) { %>margin-left: <%= contentSection.marginleft%>%;<% } %>
        <% if (contentSection.marginright) { %>margin-right: <%= contentSection.marginright%>%;<% } %>
        <% if (contentSection.margintop) { %>margin-top: <%= contentSection.margintop%>%;<% } %>
        <% if (contentSection.marginbottom) { %>margin-bottom: <%= contentSection.marginbottom%>%;<% } %>

        <% if (contentSection.width) { %>width: <%= contentSection.width%>%;<% } %>
        <% if (contentSection.height) { %>height: <%= contentSection.height%>%;<% } %>

        <% if (contentSection.opacity) { %>
            background: rgba(255, 255, 255, <%= contentSection.opacity%>);
        <% } %>
        "

    <% if (contentSection.id) { %>
    id="<%= contentSection.id %>"
    <% } %>

    class="content-section">

    <% if (contentSection.title) { %>
    <h1 class="content-section-title"><%- contentSection.title %></h1>
    <% } %>
    <div class="content-section-body-div">
        <% contentSection.contentSectionBlocks.forEach( function(contentSectionBlock) { %>
            <% if (contentSectionBlock.type == "block") { %>
                <%- include('contentSectionBlock', {contentSectionBlock : contentSectionBlock}) %>
            <% } else if (contentSectionBlock.type == "blockContact") { %>
                <%- include('contentSectionBlockForm', {contentSectionBlockForm : contentSectionBlock}) %>
            <% } else if (contentSectionBlock.type == "blockCountDown") { %>
                <%- include('contentSectionBlockCountDown', {contentSectionBlockCountDown : contentSectionBlock}) %>
            <% } %>
        <% }) %>
    </div>
</div>
